<form method="GET" action="/cuestionarios/respuesta">
	<p>Pregunta: <%= pregunta %></p>
  	<p><input type="text" name="respuesta" placeholder="Responda aquí" /></p>
   	<input type="submit" value="Enviar" />
</form>

