<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon"  href="faicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos</p>
    <p> <a href="/cuestionarios/pregunta">Comience a jugar</a> </p>
  </body>
</html>
